<%= form_for @post do |f| %>
    <div class="columns">
      <div class="column is-7">
        <div class="field">
          <%= f.label :image, '圖片', class:'label' %>
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="column is-5">
        <div class="field">
          <%= f.label :title, '標題', class:'label' %>
          <div class="control">
            <%= f.text_field :title, class: 'input' %>
            <% @post.errors.full_messages_for(:title).each do |msg| %>
                <p class="is-danger help"><%= msg %></p>
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= f.label :content, '內容', class:'label' %>
          <div class="control">
            <%= f.text_area :content, class: 'textarea' %>
            <% @post.errors.full_messages_for(:content).each do |msg| %>
                <p class="is-danger help"><%= msg %></p>
            <% end %>
          </div>
        </div>
        <div class="field">
          <%= f.submit 'submit', class: 'button is-primary is-medium is-fullwidth' %>
        </div>
      </div>
    </div>
<% end %>